body {
    font-family: 'Mooli', sans-serif;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4cm;
    background-color: antiquewhite;
}


.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.logo {
    width: 70%;
    margin-top: 10px;
    margin: auto;
    display: block;
}
#logo {
    color: black;
    box-shadow: 2px 2px 5px;
    border-radius: 15px;
    width: 100%;
}

.report {
    width: 70%;
    background-color: #f1f1f1;
    padding: 5%;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 2px 5px 10px;
}

.cover {
    padding: 10rem 2rem;
    line-height: 2rem;
    text-align: center;
}

div p {
    font-weight: 24;
}

.declare {
    margin: 2rem;
}

.information {
    margin: 5rem 0;
}

.table-of-content ol{
    margin: 0;
    list-style-type: none;
}

.table-of-content {
    line-height: 2rem;
    font-size: medium;
    border-radius: 5px;
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.table-of-content ol {
    margin: 0;
    
}

.table-of-content a {
    display: flex;
    flex-direction: row;
}
.table-of-content label {
    font-weight: bold;
    text-align: center;
}
a {
    text-decoration: none;
    color: #008bd6;
}
a:hover {
    color: #008bd6;
}

a:visited {
    color: #008bd6;
}

#table-of-content {
    margin: auto;
    align-items: center;
}

div {
    box-sizing: border-box;
}

table, th, td {
    border-radius: 20px;
    padding: 10px;
    border: black 1px solid;
    border-collapse: collapse;
  }
